<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webhook Viewer</title>
<!--    <link rel="stylesheet" href="css/style.css">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>

    </style>
</head>
<body>
    <div id="sidebar"></div>
    <div id="main-content">
        <h3>Request Details</h3>
        <div class="detail-section">
            <div><strong>Method:</strong> <span id="method"></span></div>
            <div><strong>IP:</strong> <span id="ip"></span></div>
        </div>
        <div class="detail-section">
            <h3>Headers</h3>
            <pre id="headers"></pre>
        </div>
        <div class="detail-section">
            <h3>Query Strings</h3>
            <pre id="query-strings"></pre>
        </div>
        <div class="detail-section">
            <h3>Raw Content</h3>
            <pre id="raw-content"></pre>
        </div>
    </div>
<!--    <script src="js/script.js"></script>-->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
